testground/data
dist/
*DS_Store
exchange.test
node.test
infra/k8s/install-playbook/key
infra/k8s/*.resp
infra/k8s/k8s-myel-pops/*/*
infra/test-nodes/install-playbook/key
infra/test-nodes/logs/*
infra/test-nodes/test-files/*
.goreleaser.yml

# ignore service worker client code
sw.js
